.news {
  margin: 0 auto;
}

.news h1 {
  font-size: 4rem;
  color: #fefefe;
  text-decoration: none;
}

.PageLink,
.ActivePageLink {
  text-decoration: none;
}

.news__subheader {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  background-color: #4b4b4b;
  padding: 1rem 0;
}

.news__slider {
  /* border-width: 2px; */
  border-width: 2px;
  border-right: solid #a8a8a88e;
  border-left: solid #a8a8a88e;
  box-sizing: border-box;
  /* height: 100px; */
  padding: 2rem 0.5rem;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.news__slider span {
  margin: 0 10px;
}

.news__search form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.news__search input {
  border: 0;
  margin-bottom: 3rem;
}

.news__search input[type="text"] {
  background-color: #fefefe;
  width: 60%;
  padding: 0 1rem;
}

.news__search input[type="submit"] {
  background-color: #5cb0ff;
  padding: 1rem 2rem;
  text-transform: uppercase;
  color: #fefefe;
  font-weight: 500;
}

.news__search input[type="submit"]:hover {
  cursor: pointer;
}

.news__without-news {
  color: #4b4b4b;
  text-align: center;
}

.news__footer {
  display: inline-block;
  width: 100%;
  text-align: center;
  color: #4b4b4b;
  margin: 2rem 0;
}

.news__footer a {
  color: #777777;
}
